html {
    font-size: 1.4vw;
}

h1 {
    font-size:2.75vw;
}

h2 {
    font-size:2.0vw;
}

h3 {
    font-size:1.7vw;
}

#content {
	background-color: white;  
  	border: 20px solid white;
	margin-left: 5%;
  	margin-right: 5%;
	text-align:justify;
}

a:link {
	color: #042dcf;	
  	text-decoration: none;
}

a:visited {
  	color: #042dcf;	
	text-decoration: none;
}

.right{
    float:right;
}

.left{
    float:left;
}

li {
    margin-bottom: 1em;
}

blockquote {
    padding:0;
    margin-top:0;
    margin-bottom:0;
}

pre,
code,
kbd,
samp,
tt{
  font-family:monospace,monospace;
  font-size:0.90em;
}

body {
    background-color: white;
}
